# Local .terraform directories
.terraform/

# Terraform provider version pinned. I'm unsure if it should be gitignored as the user 
# may not have this exact version in their local which could cause issues
.terraform.lock.hcl

# Swap files auto created using vim
*.swp

# .tfvars files which may contain sensitive values. Personal IP and public key in this case.
*.tfvars